@media (min-width: 280px) and (max-width: 812px) {
    .testimonial-container {
        .slider-wrapper {
            .slide {
                flex-direction: column-reverse;
                .slide-text {
                    max-width: 500px;
                    margin: 0 0;
                    padding: 0 30px;
                    text-align: center;
                    margin-top: 40px;
                    &::before {
                        height: 50px;
                        width: 70px;
                        top: 15px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    p {
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 15px;
                        letter-spacing: 0.5px;
                    }
                    .author {
                        flex-direction: column;
                        line-height: 22px;
                        h1 {
                            font-size: 14px;
                        }
                        span {
                            font-size: 14px;
                        }
                    }
                }
                .slide-image {
                    display: flex;
                    justify-content: center;
                    &::before {
                        height: 330px;
                        width: 330px;
                        background-size: contain;
                        top: -60px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    img {
                        height: 250px;
                    }
                }
            }
            .button-container {
                top: 205px;
                left: 50%;
                transform: translateX(-50%);
                height: 35px;
                width: 75px;
                button {
                    img {
                        height: 12px;
                    }
                }
            }
        }
    }
}